<nav>
    <div id="home-part">
        <a routerLink="" id="home-link">Home</a>
    </div>

    <div id="features-part">
    @if(auth.isAdmin())
    {
        <div class="dropdown">
            <button class="dropdown-btn" (click)="toogleMenu($event)">
            Ajouter un employée
            </button>

            @if (menuOpen) 
            {
                <ul class="dropdown-menu">

                    <li><a routerLink="/admin-add-medic">Ajouter un médecin</a></li>
                </ul>
            }
      </div>

        <button (click)="redirectAdminDisplayUser()">Liste des utilisateurs</button>
    }
    @else if (auth.isPatient()) 
    {
        <button (click)="redirectDisplayMedic()">Liste des medecins</button>
        <button (click)="redirectPatientAppointement()">Mes rendez-vous</button>
    }
    @else if (auth.isMedic()) 
    {

        <button (click)="redirectMedicAppointement()">Mes rendez-vous</button>
    }

    </div>

    <div id="auth-part">
    @if(auth.isConnected())
    {

        <button (click)="logout()">Se déconnecter</button>
    }
    @else{
        <button (click)="redirectLogin()">Se connecter</button>
        <button (click)="redirectRegister()">S'enregistrer</button>

    }
    </div>
</nav>