nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(121, 220, 212);
    width: 100%;
    height: 50px;
    #home-part
    {
        width: 20%;
    }
    
#features-part {
  display: flex;
  gap: 20px; /* espace entre les liens */
  justify-content: center;
  align-items: center;
}

    #auth-part
    {
        display: flex;
        justify-content: space-evenly;
        width: 20%;
    }
}