<div id="users-list">
<h2>Utilisateurs</h2>
<div id="sort-buttons">

    <button (click)="getAll()">Tout</button>
    <button (click)="getByRole('Medic')">Medecins</button>
    <button (click)="getByRole('Nurse')">Infirmiers</button>
    <button (click)="getByRole('Patient')">Patient</button>

</div>

<table>
    <thead>
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(user of users; track user.id)
        {
            <tr class={{user.role}}>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td> 
                    @if(user.role == 'Patient')
                    {
                       <button (click)="detailsPatient(user.id)">🔎</button> 
                       <button (click)="modifierPatient(user.id)">🖍</button>
                    }
                    @else if (user.role == 'Medic')
                     {

                        <button (click)="detailsMedic(user.id)">🔎</button> 
                     }
                    @else {
                        <p>à définir</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>